* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(35, 36, 39);
    padding: 0;
    margin: 0;
    display: flex;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    background-color: rgb(69, 71, 77);
    color: rgb(255, 255, 255);
}

.elements {
    padding:10px 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.acount {
    background-color: black;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}

.content {
    border-radius: 5px;
    margin-left: 70px;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 50px;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(143, 147, 160);
    color: bisque;
    position: relative;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(51, 53, 57); 
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: rgb(23, 23, 25); 
}
  

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(23, 23, 25);
    color: bisque;
}

.post{
    margin-top: 10px;
    padding: 5px;
    border-radius: 0 10px 10px 10px;
    background-color: rgb(97, 100, 109);
}

.user-name {
    padding: 5px 10px;
}

.photo_user {
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

.photo-name {
    display: flex;
    flex-direction: row;
}

.coment {
    color: lightskyblue;
    margin-top: 10px;
}
.coment:hover {
    color: lightgreen;
    cursor: pointer;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.inptyles {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid bisque;
    outline: none;
    font-size: 16px;
    background-color: #ecf0f1;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    color: rgb(179, 129, 68);
}

input:focus {
    background-color: #dfe6e9;
}

.hidden {
    display: none;
}

.viewBox {
    display: flex;
    flex-direction: column;
}

@media(max-width:400px){
    .viewBox {
        width: 250px;
    }
}

.img {
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

.pink {
    animation: marquee 5s linear infinite!important;
}
@keyframes marquee {
    0%   {background-color: rgb(255, 0, 217);} 
    10%   {background-color: rgb(197, 0, 108);} 
    30%   {background-color: rgb(204, 0, 255);} 
    50%   {background-color: rgb(149, 0, 255);} 
    70%   {background-color: rgb(255, 0, 144);} 
    100%   {background-color: rgb(255, 0, 72);} 
}

.imsorry {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imsorryText {
    font-size: 15px;
}

.likedislike {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: beige;
    height: 35px;
    width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 25px;
    border-radius: 40px;
    cursor: pointer;
}

.likeDislike {
    display: flex;
    flex-direction: row;
    gap: 10px;
}